asgiref==3.8.1
certifi==2024.8.30
Django==4.2.13
django-unixtimestampfield==0.5.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
ecs-logging==2.2.0
elastic-apm==6.23.0
mysqlclient==2.2.6
pillow==11.0.0
PyJWT==2.10.1
python-dotenv==0.21.1
six==1.17.0
sqlparse==0.5.2
urllib3==2.2.3
wrapt==1.17.0
